
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=DM+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@400,500,600,700,800&display=swap');


/* @import "tailwindcss"; */
/* @import './styles/global.css'; */


/* Toast container */
.custom-toast {
  border-radius: 16px !important;
  font-weight: 500 !important;
  padding: 14px 16px 14px 16px !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) !important;
  /* animation: slideIn 0.50s ease both ; ; */

}

/* Toast text */
.custom-toast-body {
  font-size: 14px !important;
}

/* Success */
.Toastify__toast--success {
  background: linear-gradient(135deg, #00c853, #69f0ae) !important;
}

/* Error */
.Toastify__toast--error {
  background: linear-gradient(135deg, #d50000, #ff5252) !important;
}

/* Info */
.Toastify__toast--info {
  background: linear-gradient(135deg, #2962ff, #82b1ff) !important;
}

/* Warning */
.Toastify__toast--warning {
  background: linear-gradient(135deg, #ff6d00, #ffd740) !important;
}

/* Animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }

}

